*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
background-color: brown;
    text-align:center;
    color:#333;
}

.header{
    color:white;
}

.section{
    background:#eeeeee;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    margin-bottom:30px;
    text-align:left;
    display: flex;
    justify-content: space-between;
}

.container{
    padding:20px;
}

.about img{
    width:150px;
    height:150px;
    object-fit:cover;
    float:left;
    margin-right:20px;
}

.projects{
    display:flex;
    gap:20px;
}

.projects div{
    flex:1;
}

.projects img{
    width:100%;
    height:150px;
    object-fit:cover;
}

.work-item{
    margin-bottom:20px;
}

.education{
    display:flex;
    justify-content:space-between;
}

.language{
    display:flex;
    justify-content:space-between;
}
.project2{
   margin-right: 50px;
}

.project2 div{
    flex:1;
}

.project2 img{
    width:20%;
    height:150px;
    object-fit:cover;
}

.social{
    display:flex;
    justify-content:space-around;
}

.contact input,
.contact textarea{
    width:100%;
    height:40px;
    border:none;
    background:#dddddd;
    margin-bottom:10px;
}

.contact textarea{
    height:100px;
}

.button{
    background:brown;
    color:white;
    border:none;
    height:35px;
    width:120px;
    cursor:pointer;
}

.footer{
    color:white;
}